[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Icon=/usr/share/icons/vmware-view.png
Exec=vmware-view %u
Exec=/usr/bin/vmware-view
MimeType=x-scheme-handler/vmware-view
Categories=Application;Network;
Name=VMware-View
OnlyShowIn=LXQt;
