[Desktop Entry]
Encoding=UTF-8
Type=Application
Icon=/usr/share/icons/vmware-view.png
Exec=vmware-view --fullscreen
MimeType=x-scheme-handler/vmware-view
Categories=Application;Network;
Name=VMware Horizon Client
Terminal=false
Version=1.0
